body {
  background: #000;
  font-family: "Gilam", sans-serif;
  color: #fff;
  max-width: 100%;
  margin: 0 auto;
}
h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
}
.btn {
  display: flex;
  padding: 0;
  border: 1px solid #e4b564;
  background-color: transparent;
  cursor: pointer;
  align-items: center;
  color: #e4b564;
  padding: 10px 25px;
}

.btn:hover {
  background-color: #ffffff;
  color: #000;
  transition: 0.5s ease-in;
}

.container {
  max-width: 1460px;
  margin: 0 auto;
  /* margin: 46px 230px 238px; */
}







/* HEADER */

.header {
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
}

.button-icon {
  margin-right: 8px;
}









/* MAIN */

.services {
  margin-top: 128px;
}

.services-paragraph {
  margin-top: 41px;
  font-weight: 700;
  font-size: 20px;
}

.service-table {
  margin-top: 41px;
  display: grid;
  max-width: 1460px;
  max-height: 963px;
  grid-template-columns: repeat(6, 222px);
  grid-template-rows: repeat(6, 218px);
  gap: 30px 25px;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-table-item1,
.service-table-item2,
.service-table-item3 {
  grid-column: span 2;
  grid-row: span 2;
}
.service-table-item1 {
  background: #634f2c;
}
.service-table-item2 {
  background: #b4a385;
}
.service-table-item3 {
  background: #e4b564;
}

.service-table-item4,
.service-table-item5 {
  grid-column: span 3;
  grid-row: span 2;
}
.service-table-item4 {
  background: #635a4a;
}

.service-table-item5 {
  background: #b08c4d;
}

/* margin-top: 41px;
    display: grid;
    max-width: 1460px;
    max-height: 963px;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px 25px;
    grid-auto-rows: 468px;
    grid-auto-columns: 467px; */

/* Variaon2 */

/* .service-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-columns: 467px;
  grid-auto-rows: 300px;
  gap: 30px 25px;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "div1 div1 giv2 giv2 giv3 giv3"
    "div4 div4 div4 div5 div5 div5";
}
.div1 {
  grid-area: div1;
  background: #634f2c;
}

.giv2 {
  grid-area: giv2;
  background: #b4a385;
}

.giv3 {
  grid-area: giv3;
  background: #e4b564;
}

.div4 {
  grid-area: div4;
  background: #635a4a;
}

.div5 {
  grid-area: div5;
  background: #b08c4d;
} */

.technics {
  margin-top: 160px;
  margin-bottom: 210px;
}

.technics-grid {
  margin-top: 41px;
  display: grid;
  max-width: 1460px;
  max-height: 870px;
  grid-template-columns: repeat(6, 1fr);
  /* grid-template-rows: repeat(6, 1fr); */
  grid-column-gap: 25px;
  grid-row-gap: 20px;
  grid-auto-rows: 146px;
  grid-auto-columns: 234px;
}

.technics-grid-item1,
.technics-grid-item2,
.technics-grid-item3,
.technics-grid-item4,
.technics-grid-item5,
.technics-grid-item6,
.technics-grid-item7 {
  padding: 40px 0 0 35px;
}

.technics-grid-item1 {
  background: #1f1f1f;
  grid-area: 1 / 1 / 3 / 3;
}
.technics-grid-item2 {
  background: #1f1f1f;
  grid-area: 1 / 3 / 4 / 5;
}
.technics-grid-item3 {
  background: #242424;
  grid-area: 1 / 5 / 3 / 7;
}
.technics-grid-item4 {
  background: #0e0e0e;
  grid-area: 3 / 5 / 5 / 7;
}
.technics-grid-item5 {
  background: #0e0e0e;
  grid-area: 3 / 1 / 7 / 3;
}
.technics-grid-item6 {
  background: #e4b564;
  color: #0a0909;

  grid-area: 4 / 3 / 7 / 5;
}
.technics-grid-item7 {
  background: #0a0909;
  grid-area: 5 / 5 / 7 / 7;
}


/* CIENTS */

.clients {
  background: #0e0e0e;
}

.container-clients-bacground {
  max-width: 1460px;
  margin: 0 auto;
}

.clients-wriper {
  padding-top: 172px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.client-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
}

.client-container-item {
  flex-basis: 33.33%;
  height: 391px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-1 {
  background: #634f2c;
}
.item-2 {
  background: rgba(232, 210, 171, 0.76);
  padding: 50px;
}

.client-container-wraper {
  text-align: center;
  padding: 50px;
}

.hand {
  margin-top: 10px;
}

.item-3 {
  background: #e4b564;
}
.item-4 {
  background: #635a4a;
}
.item-5 {
  background: #b08c4d;
}
.item-6 {
  background: #634f2c;
}







/* FOOTER */

footer {
  height: 230px;
  background: #000;
}
